node_modules
dist/
android-agenda/android/.gradle/
android-agenda/android/.gradle_local/
android-agenda/android/app/build/
android-agenda/android/capacitor-cordova-android-plugins/build/
android-agenda/node_modules/
android-agenda/AgendaTPV.apk
*.apk

*.docx
*.doc
*github*token*

# Sync data (persiste en Render Disk, no en git)
sync/
/data/

.env*

wa_auth/
myeasylog.log

.env
